<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208275060327-f6dqs0adita6t7oitl0hki1msoq0vq03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208275060327-f6dqs0adita6t7oitl0hki1msoq0vq03</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>208275060327-2o7fhdcp15jqk24dtfr19fkka9c984kg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBr7FTK9EoECHGatK6RlioAsArULKlZ98M</string>
	<key>GCM_SENDER_ID</key>
	<string>208275060327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elisha.app</string>
	<key>PROJECT_ID</key>
	<string>cpaidevotionalserverdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>cpaidevotionalserverdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208275060327:ios:057458fee1745fe07d46c2</string>
	<key>DATABASE_URL</key>
	<string>https://cpaidevotionalserverdatabase.firebaseio.com</string>
</dict>
</plist>